# =====================
# OS / IDE
# =====================
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
Thumbs.db
.DS_Store

# =====================
# ENV / SENSITIVE
# =====================
*.env
backend/appsettings.Development.json
backend/appsettings.Production.json
backend/wwwroot/
appsettings.json

# =====================
# FRONTEND (Angular/Node)
# =====================
node_modules/
dist/
.angular/
.npm/

# =====================
# .NET (Backend / Custom Actions / Installer)
# =====================
[Bb]in/
[Oo]bj/
[Ll]ogs/
[Tt]est[Rr]esults/

# =====================
# WiX INSTALLER & PUBLISH
# =====================
Publish/
SourceFiles/
*.msi
*.cab
*.wixpdb
*.wixobj