<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="COSECWEBFOLDER">
            <Component Id="cmp2D6C78BD23CFD3DF32D7ED8F63580D15" Guid="{3273B772-4CCA-413D-8F90-2784002E6534}">
                <File Id="fil7FB7953EBC6422C60CB12868DCC993D3" KeyPath="yes" Source="$(var.COSECWebSourceDir)\favicon.ico" />
            </Component>
            <Component Id="cmpCD1DD60AA5C0073B4B5FD221E9557007" Guid="{ADEE299D-3974-43E0-80A2-2CB3EA299F9B}">
                <File Id="fil65DFF0EA3B1902D2C68637D83B3550B3" KeyPath="yes" Source="$(var.COSECWebSourceDir)\index.html" />
            </Component>
            <Component Id="cmpA132BD112A01CC950BFE3B13E96D835E" Guid="{B8D4047A-A492-43CC-A561-83A47A3218CD}">
                <File Id="fil5B66FB42B2A9911547C7E0EBBD32BAE2" KeyPath="yes" Source="$(var.COSECWebSourceDir)\main-GUXYL236.js" />
            </Component>
            <Component Id="cmp8F532485437E500011107DCFD974CDF4" Guid="{293761A9-50E2-49D4-88D3-F974746AEF70}">
                <File Id="filDED0415AC962B83C029B7289767ABFAD" KeyPath="yes" Source="$(var.COSECWebSourceDir)\polyfills-FFHMD2TL.js" />
            </Component>
            <Component Id="cmpCF5CFAE784E3299631AF664B2BAFEFCF" Guid="{340DB210-8F19-40A9-B1DE-F5E97FE4623E}">
                <File Id="filA405BA7958351744ADC810274684AE78" KeyPath="yes" Source="$(var.COSECWebSourceDir)\styles-5M77VUB4.css" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="COSECWebFiles">
            <ComponentRef Id="cmp2D6C78BD23CFD3DF32D7ED8F63580D15" />
            <ComponentRef Id="cmpCD1DD60AA5C0073B4B5FD221E9557007" />
            <ComponentRef Id="cmpA132BD112A01CC950BFE3B13E96D835E" />
            <ComponentRef Id="cmp8F532485437E500011107DCFD974CDF4" />
            <ComponentRef Id="cmpCF5CFAE784E3299631AF664B2BAFEFCF" />
        </ComponentGroup>
    </Fragment>
</Wix>