<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Fragment>
    <DirectoryRef Id="COSECFOLDER">

      <Component Id="cmpCOSECExe"
                 Guid="{A1B2C3D4-E5F6-7890-ABCD-EF1234567890}"
                 Win64="yes">
        <File Id="filCOSECExe"
              KeyPath="yes"
              Source="$(var.COSECSourceDir)\COSEC-demo.exe" />

        <ServiceInstall
          Id="MATINTService"
          Type="ownProcess"
          Name="MATINTService"
          DisplayName="MATINT Api Service"
          Description="MATINT Backend REST API and Server on port 5210"
          Start="auto"
          ErrorControl="normal"
          Account="LocalSystem" />

        <ServiceControl
          Id="ControlCOSECService"
          Name="MATINTService"
          Start="install"
          Stop="uninstall"
          Remove="uninstall"
          Wait="yes" />
        
        <util:ServiceConfig
          ServiceName="MATINTService"
          FirstFailureActionType="restart"
          SecondFailureActionType="restart"
          ThirdFailureActionType="restart"
          RestartServiceDelayInSeconds="5" />
      </Component>

      <!-- NeverOverwrite="yes" = if this file already exists on disk, installer will NEVER replace it, even during a major upgrade/reinstall. -->
      <Component Id="cmpAppSettings"
           Guid="{B2C3D4E5-F6A7-8901-BCDE-F12345678901}"
           Win64="yes"
           Permanent="yes"
           NeverOverwrite="yes">
        <File Id="filAppSettings"
              KeyPath="yes"
              Source="$(var.COSECSourceDir)\appsettings.json" />
      </Component>

    </DirectoryRef>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="COSECServiceFiles">
      <ComponentRef Id="cmpCOSECExe" />
      <ComponentRef Id="cmpAppSettings" />
    </ComponentGroup>
  </Fragment>
</Wix>