<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Fragment>
    <DirectoryRef Id="MATPOLLFOLDER">

      <Component Id="cmpMatPollExe"
                 Guid="{B8A6E1E4-F63D-4A2B-8C9F-D7E3A1C2B5D9}"
                 Win64="yes">
        <File Id="filMatPollExe"
              KeyPath="yes"
              Source="$(var.SourceDir)\MatPoll.exe" />

        <ServiceInstall
          Id="MatPollService"
          Type="ownProcess"
          Name="MatPollService"
          DisplayName="MatPoll Device Service"
          Description="MatPoll Backend Service for device polling"
          Start="auto"
          ErrorControl="normal"
          Account="LocalSystem" />

        <ServiceControl
          Id="ControlMatPollService"
          Name="MatPollService"
          Start="install"
          Stop="both"
          Remove="uninstall"
          Wait="yes" />

        <util:ServiceConfig
          ServiceName="MatPollService"
          FirstFailureActionType="restart"
          SecondFailureActionType="restart"
          ThirdFailureActionType="none"
          RestartServiceDelayInSeconds="10" />
      </Component>

    </DirectoryRef>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="MatPollServiceFiles">
      <ComponentRef Id="cmpMatPollExe" />
    </ComponentGroup>
  </Fragment>
</Wix>
