<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Product Id="*"
           Name="Matrix Integrator"
           Language="1033"
           Version="1.0.0.0"
           Manufacturer="MatInt"
           UpgradeCode="A395DCB3-A767-4FAB-A65C-94FF30DAF379">

    <Package InstallerVersion="500"
             Compressed="yes"
             InstallScope="perMachine"
             Platform="x64" />

    <MediaTemplate />
    <MajorUpgrade DowngradeErrorMessage="A newer version is already installed." />

    <Property Id="WIXUI_INSTALLDIR" Value="MATPOLLFOLDER" />

    <UIRef Id="WixUI_InstallDir" />

    <UI>
      <DialogRef Id="DatabaseSettingsDlg" />
      <DialogRef Id="MyLicenseDlg" />

      <Publish Dialog="WelcomeDlg"
               Control="Next"
               Event="NewDialog"
               Value="MyLicenseDlg"
               Order="2">1</Publish>

      <!-- Back from InstallDir -> Database -->
      <Publish Dialog="InstallDirDlg"
               Control="Back"
               Event="NewDialog"
               Value="DatabaseSettingsDlg"
               Order="1">1</Publish>
    </UI>

    <Feature Id="MainFeature" Title="Matrix Integrator" Level="1">
      <ComponentGroupRef Id="MatPollFiles" />
      <ComponentGroupRef Id="MatPollServiceFiles" />
      <ComponentGroupRef Id="COSECServiceFiles" />
      <ComponentGroupRef Id="COSECServiceDlls" />
      <ComponentGroupRef Id="COSECWebFiles" />
      <ComponentGroupRef Id="IISComponents" />
    </Feature>

    <CustomActionRef Id="WriteAppSettings" />
    <CustomActionRef Id="WriteMatPollAppSettings" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="MATPOLLFOLDER" Name="MatPoll" />
        <Directory Id="COSECFOLDER"   Name="COSEC" />
        <Directory Id="COSECWEBFOLDER" Name="COSECWeb" />
      </Directory>
    </Directory>
  </Product>
</Wix>